html {
  background-color: #213547;
  color: beige;
}

#app {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    white-space: pre-wrap;
    font-size: 2rem;
    display: block;
    grid-area: auto;
  }

  #currentOccupation {
    white-space: pre-wrap;
    grid-area: auto;
  }

  #currentLevel {
    white-space: pre-wrap;
    grid-area: auto;
  }
}

#middle {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    white-space: pre-wrap;
    font-size: 2rem;
    display: block;
    grid-area: auto;
  }
}

#down {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    white-space: pre-wrap;
    font-size: 2rem;
    display: block;
    grid-area: auto;
  }
}

#vehicles {
  .vehicleUlElement {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(0.5rem, 0.143rem + 0.952vw, 1rem);
  }

  .vehicleLiElement {
    border: solid red;
    padding: clamp(0.5rem, 0.143rem + 0.952vw, 1rem);
    white-space: pre-wrap;
    font-size: clamp(1rem, 0.286rem + 1.905vw, 2rem);
    display: block;
    grid-area: auto;
    .checkIcon {
      color: green;
    }
    .crossIcon {
      color: red;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
