html {
  background-color: #213547;
  color: beige;
}

#app {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    white-space: pre-wrap;
    font-size: 2rem;
    display: block;
    grid-area: auto;
  }

  #currentOccupation {
    white-space: pre-wrap;
    grid-area: auto;
  }

  #currentLevel {
    white-space: pre-wrap;
    grid-area: auto;
  }
}

#middle {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    white-space: pre-wrap;
    font-size: 2rem;
    display: block;
    grid-area: auto;
  }
}

#down {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    white-space: pre-wrap;
    font-size: 2rem;
    display: block;
    grid-area: auto;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
